/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* Bona Nova SC */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
/* STIX Two Text */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
/* Asap */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

/* default to border-box */
* {
    /* box-sizing: border-box;
    font-size: 16px; */
    margin: 0;
    padding: 0;
}

body{
    background-color: #202020;

    color: black;
    font-family: "STIX Two Text", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;

    .loadingIcon {
        z-index: -2;
        width: 288px;
        height: 162px;
        position: absolute;
        background-image: url("./assets/icons/LoadingIcon.gif");
        background-position: center, center;
        background-size: cover, cover;
        background-repeat: no-repeat, no-repeat;
    }
    .background1 {
        z-index: -1;
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: url("")/* , url("assets/backgrounds/test01.JPG")*/; 
        background-position: center, center;
        background-size: cover, cover;
        background-repeat: no-repeat, no-repeat;
    }
    .background2 {
        z-index: -1;
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: url("")/* , url("assets/backgrounds/test01.JPG")*/; 
        background-position: center, center;
        background-size: cover, cover;
        background-repeat: no-repeat, no-repeat;

        display: none;
    }
}

header {
    position: absolute;
    z-index: -2;
    margin-bottom: auto;
    font-size: 14px;
}

.selectBox {
    position: absolute;
    bottom: 256px;
    right: 180px;
}

.selectBox select {
    appearance: none;
    width: 220px;
    height: 30px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }

button {
    position: absolute;
    bottom: 256px;
    right: 0px;
    width: 160px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border: 0;
}

.weatherContainer {
    width: 390px;
    height: 236px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.weatherWrapper_top {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 352px;
}

.weatherColumnWrapper_left {
    display: flex;
    flex-direction: column;
    .weather {
        font-size: 60px;
        font-family: "STIX Two Text", serif;
        font-weight: bold;
    }
    .location {
        font-size: 18px;
        font-family: "Asap", sans-serif;
        font-weight: 600;
        margin-top: -7px;;
    }
    .localTime {
        font-size: 12px;
        font-family: "Asap", sans-serif;
        font-weight: normal;
        margin-top: 5px;;
    }
}

.weatherColumnWrapper_right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 3px;

    .feelslikeText {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: -6px;
    }
    .weatherColumnWrapper_right_top {
        display: flex;
        flex-direction: row;
        .currTemp {
            font-size: 42px;
            font-weight: 600;
            margin-right: 9px;
        }
        .weatherColumnWrapper_right_top_right {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            margin-top: 6px;
            gap: 3px;
        }
    }
    .weatherColumnWrapper_right_bottom {
        display: flex;
        flex-direction: row;
        .feelslike {
            font-size: 42px;
            margin-right: 9px;
        }
        .weatherColumnWrapper_right_bottom_right {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            margin-top: 6px;
            gap: 3px;
        }
    }
}

.weatherWrapper_bottom {
    display: flex;
    flex-direction: row;
    gap: 0px;
    text-align: center;
    font-family: "Asap", sans-serif;
    font-weight: normal;
    margin-top: 6px;
    .tableIcons {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        .tempIcon {
            margin-top: 33px;
        }
        .rainIcon {
            margin-top: 5px;
        }
    }
    .times {
        font-weight: bold;
    }
    .table0, .table1, .table2, .table3, .table4, .table5 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding: 9px;
        font-size: 14px;
        min-width: 4ch;
    }
    .table_BG:hover {
        background-color: rgba(255, 255, 255, 1);
        padding: 9px;
        border-radius: 10px;
    }
    .table0_Background {
        background-color: rgba(250, 250, 250, 0.65);
        padding: 9px;
        border-radius: 10px;
    }
}
  
/* Responsive layout - makes a one column layout instead of a two-column layout */
/* the following are for desktop view */
@media (min-width: 410px) {
    button {
        right: 10px;
    }

    .weatherContainer {
        bottom: 10px;
        right: 10px;
    }
}